/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* clearfix */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* button */
button{
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    border: none;
}    


.container{
    width: 1280px;
    margin: auto;
}

/* header */
header{
    background-color: #3161e0;
    padding: 20px 0
    ;
}

.logo{
    float: left;
    width: 20%;
}

nav{
    float: left;
    width: 60%;
    text-align: center;
}

.login{
    float: left;
    width: 20%;
}

li{
    display: inline-block;
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.login button{
    float: right;
}

/* hero */
.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    position: relative;
}

.text-hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
}
.text-hero h1, .text-hero p, .text-hero button{
    color: white;
    text-align: center;
}

.text-hero h1{
    font-size: 50px;
    padding-bottom: 30px;
}

.text-hero p{
    font-size: 25px;
    padding-bottom: 20px;
}