/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* clearfix */
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* button */
button{
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    border: none;
}    


.container{
    max-width: 1280px;
    margin: auto;
}

/* header */
header{
    background-color: #3161e0;
    padding: 20px 0
    ;
}

.logo, .login{
    float: left;
    width: 20%;
}

header nav{
    float: left;
    width: 60%;
    text-align: center;
    padding-top: 5px;
}

nav li{
    display: inline-block;
    padding: 0 20px;
}

nav li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.login button{
    float: right;
}

/* hero */
.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    position: relative;
}

.text-hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 630px;
}
.text-hero h1, .text-hero p{
    color: white;
    text-align: center;
}

.text-hero h1{
    font-size: 50px;
    padding-bottom: 30px;
}

.text-hero p{
    font-size: 25px;
    padding-bottom: 20px;
}

.buttons{
    text-align: center
}

.buttons > button{
    padding: 15px 20px;
    border-radius: 30px;
}

.black{
    background-color: #23272a;
    color: white;
    margin-left: 20px;
}

/* section con immagine */
section{
    margin-bottom: 100px;
}

.column-left{
    width: 60%;
    padding-top: 100px;
    float: left;
}

.column-right{
    width: 40%;
    margin: auto;
    text-align: left;
    padding-top: 140px;
    float: left;
}

h2{
    font-size: 40px;
    margin-bottom: 20px;
}

p{
    font-size: 22px;
}

.second-section{
    background-color: #f6f6f6;
    margin: 0;
    padding: 100px;
}

.last-section{
    text-align: center;
}

.big-image{
    display: block;
    margin: auto;
}

.purple{
    margin-top: 15px;
    background-color: #8ea1e1;
    color: white;
    padding: 15px 20px;
}